## Python Data Structure Solution
Created by: Isman Kurniawan

## Python lists

### Create a new list
Please create a list with named 'my_list' of integer value with the elements are 1, 4, 9, 6, 3, 7

In [39]:
# create new list
my_list = [1, 4, 9, 6, 3, 7]

# print my_list
my_list

[1, 4, 9, 6, 3, 7]

### Adding new element
Please add new element of 5 and 8 to 'my_list'

In [41]:
# adding new element
new_val = [5,8]
my_list.extend(new_val)

# print my_list
my_list

[1, 4, 9, 6, 3, 7, 5, 8]

### Removing element of list
Please remove element of 3 and 4 from the list

In [22]:
# removing element
#my_list.remove(3)    
# print my_list
my_list

my_list.remove(4)
my_list

#agar tidak terjadi berulang isi

[1, 9, 6, 7, 5, 8]

### Counting the number of element

In [25]:
# counting the number of element in list
my_list.count(6)

1

### Sorting a list

In [27]:
# sorting the element in list
my_list.sort(reverse=True)

# print my_list
my_list

[9, 8, 7, 6, 5, 1]

### Calculate the sum of list

In [29]:
# import numpy library
import numpy

# sum the element in list
numpy.sum(my_list_list)

36

### Calculate the average value

In [30]:
# import numpy library
import numpy as np

# calculate the average
np.average(my_list)

6.0

## Python Dictionaries

### Creating a dictionary
Please create a dictionary named 'currency' that contain the currency of indonesia, japan, usa, korea<br>
The currency of indonesia, japan, usa, and korea are rupiah, yen, dollar, and won, respectively

In [31]:
# create a dictionary
currency = {"indonesia":"rupiah",
           "japan":"yen",
           "usa":"dollar",
           "korea":"won"}




# print the dictionary
print(currency)

{'indonesia': 'rupiah', 'japan': 'yen', 'usa': 'dollar', 'korea': 'won'}

### Inserting new value
Please add the currency of thailand (baht) to 'currency' dictionary

In [33]:
# adding new value
currency["thailand"] = "bath"

# print the dictionary
print(currency)

{'indonesia': 'rupiah', 'japan': 'yen', 'usa': 'dollar', 'korea': 'won', 'thailand': 'bath'}

### Removing a key and its value
Please remove the currency value of korea

In [34]:
# removing a key and value
del currency["korea"]

# print the dictionary
print(currency)

{'indonesia': 'rupiah', 'japan': 'yen', 'usa': 'dollar', 'thailand': 'bath'}

In [42]:
currency.keys()

dict_keys(['indonesia', 'japan', 'usa', 'thailand'])

In [43]:
currency.values()

dict_values(['rupiah', 'yen', 'dollar', 'bath'])