## Relational Database Exercise
Created by: Isman Kurniawan

### Creating a connection

In [ ]:
# load sqlite3 library
 

# create a connection to new database named 'hospital.sqlite'
 

# create an interface to the database named 'cursor' variable

### Create a table
Create a table named "HOSPITAL" with the content of records and attributs according to the figure below <br>
![Image](https://www.dl.dropboxusercontent.com/s/yxcddqqcwd1f8b5/hospital_table.png?dl=0)

In [ ]:
# creating a table
# creating a table named 'HOSPITAL'
 
# commit the update

In [ ]:
# inserting the records
 
# commit the update

### Deleting a record
Delete the record with Hospital_Id = 2

In [ ]:
# deleting a record

# commit the update

### Updating a record
Update the value of bed count of Mayo Clinic to 350

In [ ]:
# updating a record
 
# commit the update

### Inserting new record
Insert new record of Illnois Hospital with bed count number 1200

In [ ]:
# inserting new record
 
# commit the update

### Reading a database with Pandas
Assign the table named "Hospital" into a variable named "database".

In [ ]:
# import pandas library


# reading the table

In [ ]:
# show first 5 data of "database" dataframe