## Data Transformation Exercise
Created by: Isman Kurniawan

### Import pandas library

In [ ]:
# import pandas library

### Load csv file from url address
URL address: 'http://bit.ly/2lU9r8I'

In [ ]:
# define the url
url = 'http://bit.ly/2lU9r8I'

# load the csv file
car = pd.read_csv(url)

In [ ]:
# print first 5 data

### Check whether null value exist in the Dataframe

In [ ]:
# check the number of null value in each attribute

### Clean the data set by replace null value with median

In [ ]:
# clean by replacing null value with median

### Find the most expensive car company name

In [ ]:
# sorting the dataframe

### Count total cars per company

In [ ]:
# print the total car per company

### Find each companyâ€™s highest price car

In [ ]:
# print the highest car for each company

### Find the average mileage of each car making company

In [ ]:
# import numpy library
 

# print the average of mileage value for each company