## Pandas
Created by: Isman Kurniawan

### Creating dataframe from dictionary

In [1]:
# importing pandas library
import pandas as pd

In [2]:
my_dict = {'apples': [3, 2, 0, 1],
        'oranges': [0, 3, 7, 2]}

In [3]:
my_df = pd.DataFrame(my_dict)
my_df

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [4]:
my_df.index = ['Robby', 'Thomas', 'Andrew', 'David']

In [5]:
my_df

        apples  oranges
Robby        3        0
Thomas       2        3
Andrew       0        7
David        1        2

### Creating dataframe by importing from csv file

In [7]:
my_df = pd.read_csv("purchases.csv")
my_df

  Unnamed: 0  apples  oranges
0      Robby       3        0
1     Thomas       2        3
2     Andrew       0        7
3      David       1        2

In [8]:
my_df = pd.read_csv("purchases.csv", index_col=0)
my_df

        apples  oranges
Robby        3        0
Thomas       2        3
Andrew       0        7
David        1        2

### Converting dataframe to csv file

In [9]:
my_df.to_csv("purchases.csv")

### Viewing your data

In [10]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [12]:
movies_df.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
movies_df.tail()

In [11]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
Rank                  1000 non-null int64
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [13]:
#merubah nama column
movies_df.columns = ['rank', 'genre', 'description', 'director', 
                     'actors', 'year', 'runtime', 'rating', 'votes', 
                     'revenue_millions', 'metascore']

In [14]:
movies_df.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

### Slicing, selecting and extracting

### Selecting by column name

In [15]:
genre_col = movies_df['genre']
genre_col

Title
Guardians of the Galaxy                       Action,Adventure,Sci-Fi
Prometheus                                   Adventure,Mystery,Sci-Fi
Split                                                 Horror,Thriller
Sing                                          Animation,Comedy,Family
Suicide Squad                                Action,Adventure,Fantasy
The Great Wall                               Action,Adventure,Fantasy
La La Land                                         Comedy,Drama,Music
Mindhorn                                                       Comedy
The Lost City of Z                         Action,Adventure,Biography
Passengers                                    Adventure,Drama,Romance
Fantastic Beasts and Where to Find Them      Adventure,Family,Fantasy
Hidden Figures                                Biography,Drama,History
Rogue One                                     Action,Adventure,Sci-Fi
Moana                                      Animation,Adventure,Comedy
Colossal                                          Action,Comedy,Drama
The Secret Life of Pets                    Animation,Adventure,Comedy
Hacksaw Ridge                                 Biography,Drama,History
Jason Bourne                                          Action,Thriller
Lion                                                  Biography,Drama
Arrival                                          Drama,Mystery,Sci-Fi
Gold                                         Adventure,Drama,Thriller
Manchester by the Sea                                           Drama
Hounds of Love                                     Crime,Drama,Horror
Trolls                                     Animation,Adventure,Comedy
Independence Day: Resurgence                  Action,Adventure,Sci-Fi
Paris pieds nus                                                Comedy
Bahubali: The Beginning                        Action,Adventure,Drama
Dead Awake                                            Horror,Thriller
Bad Moms                                                       Comedy
Assassin's Creed                               Action,Adventure,Drama
                                                      ...
Texas Chainsaw 3D                                     Horror,Thriller
Disturbia                                      Drama,Mystery,Thriller
Rock of Ages                                     Comedy,Drama,Musical
Scream 4                                               Horror,Mystery
Queen of Katwe                                  Biography,Drama,Sport
My Big Fat Greek Wedding 2                      Comedy,Family,Romance
Dark Places                                    Drama,Mystery,Thriller
Amateur Night                                                  Comedy
It's Only the End of the World                                  Drama
The Skin I Live In                                     Drama,Thriller
Miracles from Heaven                           Biography,Drama,Family
Annie                                             Comedy,Drama,Family
Across the Universe                             Drama,Fantasy,Musical
Let's Be Cops                                                  Comedy
Max                                                  Adventure,Family
Your Highness                                Adventure,Comedy,Fantasy
Final Destination 5                                   Horror,Thriller
Endless Love                                            Drama,Romance
Martyrs                                                        Horror
Selma                                         Biography,Drama,History
Underworld: Rise of the Lycans               Action,Adventure,Fantasy
Taare Zameen Par                                   Drama,Family,Music
Take Me Home Tonight                             Comedy,Drama,Romance
Resident Evil: Afterlife                      Action,Adventure,Horror
Project X                                                      Comedy
Secret in Their Eyes                              Crime,Drama,Mystery
Hostel: Part II                                                Horror
Step Up 2: The Streets                            Drama,Music,Romance
Search Party                                         Adventure,Comedy
Nine Lives                                      Comedy,Family,Fantasy
Name: genre, Length: 1000, dtype: object

In [16]:
type(genre_col)

pandas.core.series.Series

In [17]:
genre_col = movies_df[['genre']]
genre_col

                                                              genre
Title
Guardians of the Galaxy                     Action,Adventure,Sci-Fi
Prometheus                                 Adventure,Mystery,Sci-Fi
Split                                               Horror,Thriller
Sing                                        Animation,Comedy,Family
Suicide Squad                              Action,Adventure,Fantasy
The Great Wall                             Action,Adventure,Fantasy
La La Land                                       Comedy,Drama,Music
Mindhorn                                                     Comedy
The Lost City of Z                       Action,Adventure,Biography
Passengers                                  Adventure,Drama,Romance
Fantastic Beasts and Where to Find Them    Adventure,Family,Fantasy
Hidden Figures                              Biography,Drama,History
Rogue One                                   Action,Adventure,Sci-Fi
Moana                                    Animation,Adventure,Comedy
Colossal                                        Action,Comedy,Drama
The Secret Life of Pets                  Animation,Adventure,Comedy
Hacksaw Ridge                               Biography,Drama,History
Jason Bourne                                        Action,Thriller
Lion                                                Biography,Drama
Arrival                                        Drama,Mystery,Sci-Fi
Gold                                       Adventure,Drama,Thriller
Manchester by the Sea                                         Drama
Hounds of Love                                   Crime,Drama,Horror
Trolls                                   Animation,Adventure,Comedy
Independence Day: Resurgence                Action,Adventure,Sci-Fi
Paris pieds nus                                              Comedy
Bahubali: The Beginning                      Action,Adventure,Drama
Dead Awake                                          Horror,Thriller
Bad Moms                                                     Comedy
Assassin's Creed                             Action,Adventure,Drama
...                                                             ...
Texas Chainsaw 3D                                   Horror,Thriller
Disturbia                                    Drama,Mystery,Thriller
Rock of Ages                                   Comedy,Drama,Musical
Scream 4                                             Horror,Mystery
Queen of Katwe                                Biography,Drama,Sport
My Big Fat Greek Wedding 2                    Comedy,Family,Romance
Dark Places                                  Drama,Mystery,Thriller
Amateur Night                                                Comedy
It's Only the End of the World                                Drama
The Skin I Live In                                   Drama,Thriller
Miracles from Heaven                         Biography,Drama,Family
Annie                                           Comedy,Drama,Family
Across the Universe                           Drama,Fantasy,Musical
Let's Be Cops                                                Comedy
Max                                                Adventure,Family
Your Highness                              Adventure,Comedy,Fantasy
Final Destination 5                                 Horror,Thriller
Endless Love                                          Drama,Romance
Martyrs                                                      Horror
Selma                                       Biography,Drama,History
Underworld: Rise of the Lycans             Action,Adventure,Fantasy
Taare Zameen Par                                 Drama,Family,Music
Take Me Home Tonight                           Comedy,Drama,Romance
Resident Evil: Afterlife                    Action,Adventure,Horror
Project X                                                    Comedy
Secret in Their Eyes                            Crime,Drama,Mystery
Hostel: Part II                                              Horror
Step Up 2: The Streets                          Drama,Music,Romance
Search Party                                       Adventure,Comedy
Nine Lives                                    Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [18]:
type(genre_col)

pandas.core.frame.DataFrame

In [19]:
subset_movies = movies_df[['genre', 'rating']]
subset_movies.head()

                                            genre  rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2

### Selecting and slicing using .loc and .iloc

In [20]:
subset = movies_df.loc['Prometheus']
subset

rank                                                                2
genre                                        Adventure,Mystery,Sci-Fi
description         Following clues to the origin of mankind, a te...
director                                                 Ridley Scott
actors              Noomi Rapace, Logan Marshall-Green, Michael Fa...
year                                                             2012
runtime                                                           124
rating                                                              7
votes                                                          485820
revenue_millions                                               126.46
metascore                                                          65
Name: Prometheus, dtype: object

In [21]:
type(subset)

pandas.core.series.Series

In [22]:
subset = movies_df.loc[['Prometheus']]
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [23]:
type(subset)

pandas.core.frame.DataFrame

In [24]:
subset = movies_df.loc[['Prometheus','Split','Sing']]
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0

In [25]:
subset = movies_df.loc['Prometheus':'Sing']
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0

In [26]:
subset = movies_df.loc['Prometheus':'Sing',['genre','actors']]
subset

,genre,actors
Title,,
Prometheus,"Adventure,Mystery,Sci-Fi","Noomi Rapace, Logan Marshall-Green, Michael Fa..."
Split,"Horror,Thriller","James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
Sing,"Animation,Comedy,Family","Matthew McConaughey,Reese Witherspoon, Seth Ma..."

In [27]:
subset = movies_df.loc['Prometheus':'Sing','director':'runtime']
subset

,director,actors,year,runtime
Title,,,,
Prometheus,Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124
Split,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117
Sing,Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108

In [28]:
subset = movies_df.iloc[1]
subset

rank                                                                2
genre                                        Adventure,Mystery,Sci-Fi
description         Following clues to the origin of mankind, a te...
director                                                 Ridley Scott
actors              Noomi Rapace, Logan Marshall-Green, Michael Fa...
year                                                             2012
runtime                                                           124
rating                                                              7
votes                                                          485820
revenue_millions                                               126.46
metascore                                                          65
Name: Prometheus, dtype: object

In [ ]:
type(subset)

In [29]:
subset = movies_df.iloc[[1]]
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [30]:
type(subset)

pandas.core.frame.DataFrame

In [31]:
subset = movies_df.iloc[1:5]
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [32]:
subset = movies_df.iloc[1:5,2:4]
subset

,description,director
Title,,
Prometheus,"Following clues to the origin of mankind, a te...",Ridley Scott
Split,Three girls are kidnapped by a man with a diag...,M. Night Shyamalan
Sing,"In a city of humanoid animals, a hustling thea...",Christophe Lourdelet
Suicide Squad,A secret government agency recruits some of th...,David Ayer

### Selecting by condition

In [37]:
condition = (movies_df['director'] == "Ridley Scott")
# condition jika diprint hanya memunculkan True dan False doang
subset = movies_df[condition]
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, Penélope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

In [38]:
condition = (movies_df['rank'] <= 20)
subset = movies_df[condition]
subset.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [39]:
condition_1 = (movies_df['director'] == 'Christopher Nolan')
condition_2 = (movies_df['director'] == 'Ridley Scott')
condition = condition_1 | condition_2
subset = movies_df[condition]
subset.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0

In [40]:
director = ['Christopher Nolan', 'Ridley Scott']
subset = movies_df[movies_df['director'].isin(director)]
subset.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0

### Combining dataframes

In [41]:
my_dict = {'apples': [3, 2, 0, 1],
        'oranges': [0, 3, 7, 2]}
my_df1 = pd.DataFrame(my_dict)
my_df1

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [42]:
my_dict = {'grape': [2, 1, 5, 2],
        'strawberry': [4, 2, 4, 5]}
my_df2 = pd.DataFrame(my_dict)
my_df2

   grape  strawberry
0      2           4
1      1           2
2      5           4
3      2           5

In [43]:
my_df = pd.concat([my_df1, my_df2], axis=1)
my_df

   apples  oranges  grape  strawberry
0       3        0      2           4
1       2        3      1           2
2       0        7      5           4
3       1        2      2           5

In [47]:
my_dict = {'apples': [4, 2, 5, 6],
        'oranges': [2, 1, 6, 7]}
my_df3 = pd.DataFrame(my_dict)
my_df3

   apples  oranges
0       4        2
1       2        1
2       5        6
3       6        7

In [49]:
my_df = pd.concat([my_df1, my_df3], axis=0)
my_df.reset_index(drop=True, inplace=True)
my_df

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
4       4        2
5       2        1
6       5        6
7       6        7

In [50]:
my_dict = {"player_number": [1, 4, 9, 10, 23],
          "player_name": ["Alisson Becker", "Virgin van Dijk", "Firminho", "Sadio Mane", "Xherdan Shaqiri"],
          "position": ["goalkeeper", "defender", "forward", "forward", "forward"]}
my_df1 = pd.DataFrame(my_dict)
my_df1

   player_number      player_name    position
0              1   Alisson Becker  goalkeeper
1              4  Virgin van Dijk    defender
2              9         Firminho     forward
3             10       Sadio Mane     forward
4             23  Xherdan Shaqiri     forward

In [51]:
my_dict = {"player_number": [1, 3, 8, 9, 11],
          "nasionality": ["Brazil", "Brazil", " Guinea", "Brazil", "Egypt"]}
my_df2 = pd.DataFrame(my_dict)
my_df2

   player_number nasionality
0              1      Brazil
1              3      Brazil
2              8      Guinea
3              9      Brazil
4             11       Egypt

In [5]:
new_df = pd.merge(my_df1, my_df2, on='player_number', how="inner")
new_df

   player_number     player_name    position nasionality
0              1  Alisson Becker  goalkeeper      Brazil
1              9        Firminho     forward      Brazil

In [6]:
new_df = pd.merge(my_df1, my_df2, on='player_number', how="outer")
new_df

   player_number      player_name    position nasionality
0              1   Alisson Becker  goalkeeper      Brazil
1              4  Virgin van Dijk    defender         NaN
2              9         Firminho     forward      Brazil
3             10       Sadio Mane     forward         NaN
4             23  Xherdan Shaqiri     forward         NaN
5              3              NaN         NaN      Brazil
6              8              NaN         NaN      Guinea
7             11              NaN         NaN       Egypt