In [1]:
height_A = 1.67
height_B = 1.45
height_C = 1.72
height_D = 1.63
height_E = 1.88

In [2]:
heights = [height_A,height_B,height_C,height_D, height_E]

In [3]:
heights = []

[1.67, 1.45, 1.72, 1.63, 1.88]

In [6]:
height = ["A",1.67,
          "B", 1.45,
          "C", 1.72,
          "D", 1.63,
          "E", 1.88]

## Indexing / memanggil

In [7]:
height[3]

1.45

In [8]:
height[-9]

1.67

### Slicing / Memanggil

In [9]:
height[0:6] ## dari index ke 0 sampe index ke 7

['A', 1.67, 'B', 1.45, 'C', 1.72]

In [10]:
height[4:]

['C', 1.72, 'D', 1.63, 'E', 1.88]

In [11]:
len(height)

10

## List comprehension

In [16]:
#list in list
heights = [["A", 1.67],
           ["B", 1.45],
           ["C", 1.72],
           ["D", 1.63],
           ["E", 1.88],
           ["F", 2.00]
            ]

In [17]:
# cara memanggil 1.72
heights[5]

['F', 2.0]

In [36]:
#menambah data ke list
# append or extend
#append = langsung nambah
heights_2 = []
new_eval = 1.56
heights_2.append(new_eval)
heights_2

[1.56]

In [37]:
#extend = dikeluarkan dulu list pertama, baru ditambahkan ke list
new_eval2 = ["A", 1.56]
heights_2.append(new_eval2)
heights_2

[1.56, ['A', 1.56]]

In [38]:
#kita pakai extend
heights_2.extend(new_eval2)
heights_2

[1.56, ['A', 1.56], 'A', 1.56]

In [39]:
#ubah index pertama
heights_2[0] = 1.72
heights_2

[1.72, ['A', 1.56], 'A', 1.56]

In [40]:
#Update
#ubah nilai 1.56 yang urutan pertama jadi 1.83
heights_2[1][1] = 1.83
heights_2

[1.72, ['A', 1.83], 'A', 1.56]

In [41]:
#remove -> by name
#pop -> by index
heights_2.remove(1.72)
heights_2

[['A', 1.83], 'A', 1.56]

In [42]:
#pop
heights_2.pop(1)
heights_2

[['A', 1.83], 1.56]

## search index

In [48]:
heights_3 = [1.23, 1.36, 1.63, 1.88, 1.34]
heights_3.index(0)

ValueError: 0 is not in list

In [45]:
#append dan extend hanya menambahkan index terakhir, jika ingin index tertentu, pake insert
heights_3.insert(1, new_eval)
heights_3

[1.23, 1.56, 1.56, 1.36, 1.63, 1.88, 1.34]

# method

In [47]:
#counting occurence
new_list = [2,4,5,6,4,5,3,2,3,4,5]
new_list.count(4)

3

In [51]:
#maximum number
new_list = [2,4,5,6,4,5,3,2,3,4,5]
max(new_list)

6

In [53]:
min(new_list)

2

# Numpy

In [54]:
import numpy as np

In [59]:
np.mean(new_list)
from numpy import average

#kenapa from dulu? karena import langusng berarti ambil satu buku dipake semua,
#kalo from dulu berarti ambil 1 kertas (fungsi) dari 1 buku, karena ada libary yang berat

new_list.sort(reverse=True)
new_list

#fungsi sort langsung ubah index, kalo merasa sort seblumnya adalah sequeansial pernting

[6, 5, 5, 5, 4, 4, 4, 3, 3, 2, 2]

In [62]:
#cara copy data lama agar perubahan data baru tidak ngefek ke list lama
#new_list = old_list # cara salah, new_list ketika diubah akan ngefek ke old_list
#cara yang benar
old_list =  [2,4,5,6,4,5,3,2,3,4,5]
new_list = old_list[:]
new_list.sort(reverse=True)
print(new_list)
print(old_list)

[6, 5, 5, 5, 4, 4, 4, 3, 3, 2, 2]
[2, 4, 5, 6, 4, 5, 3, 2, 3, 4, 5]

## Tupple dan List

In [ ]:
#tupple
my_list = [2,4,6,7,8,3]
my_tupple = (2,4,6,7,8,3)
#tupple tidak bisa diubah, atau istilahnya static
#agar tupple bisa diubah, convert dulu ke list, baru diubah, lalu ubah lagi ke tupple
#contoh dadu, kan gak mungkin diubah
#tupple lebih cepet, terutamanya jika datanya besar

In [67]:
my_list = [4,5,6,78,3,6,5,7,89,4]
print(my_list)
my_set = {4,5,6,78,3,6,5,7,89,4}
print(my_set)

[4, 5, 6, 78, 3, 6, 5, 7, 89, 4]
{3, 4, 5, 6, 7, 78, 89}

## Set dan Union

In [70]:
#union gabungin set, list dan tupple tidak bisa, hanya set yang bisa digabungin pake union
my_set1 = {2,3,4,5}
my_set2 = {4,5,6,7,8}
all_set = my_set1.union(my_set2)
all_set

{2, 3, 4, 5, 6, 7, 8}

In [71]:
my_set1 = {2,3,4,5}
my_set2 = {4,5,6,7,8}
all_set = my_set1.intersection(my_set2)
all_set

{4, 5}

## Dictionary
hanya ada di Python

In [73]:
my_list = [2,4,5]

In [79]:
#konsep index 0 lalu 1 lalu 2 dst
#dictionary artinya mengganti istilah index menjadi key(harus string)
countries = ["indonesia",
            "malaysia",
            "thailand"]
capitals = ["jakarta",
         "kuala lumpur",
         "bangkok"]

In [80]:
idx = countries.index("thailand")

In [81]:
capitals[idx]

'bangkok'

In [83]:
#diatas kalo pakai list
#sekarang kita pakai dictionary
my_dict = {"indonesia":"jakarta",
          "malaysia":"kuala lumpur",
          "thailand":"bangkok"}
#sehingga nama key indonesia adalah jakarta
my_dict["indonesia"]
#index hanya bisa sekali, gak bisa dipakai 2 kali, jika ada 2 index sama, maka yang terakhir yang dibaca komputer

'jakarta'

In [84]:
#menambah dictionary
my_dict["jepang"] = "tokyo"
my_dict

{'indonesia': 'jakarta',
 'malaysia': 'kuala lumpur',
 'thailand': 'bangkok',
 'jepang': 'tokyo'}

In [85]:
#hapus kesalahan 
my_dict = {"indonesia":"jakarta",
          "malaysia":"kuala lumpur",
          "thayland":"bangkok"}

In [89]:
del my_dict["thayland"]
my_dict

{'indonesia': 'jakarta', 'malaysia': 'kuala lumpur'}

In [91]:
my_dict["thailand"] = "bangkok"
my_dict

{'indonesia': 'jakarta', 'malaysia': 'kuala lumpur', 'thailand': 'bangkok'}