# Regression
Kali ini kita akan membandingkan hasil regresi pada beberapa pada satu dataset. 

Data yang akan kita gunakan ada `insurance`

In [6]:
# Import library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt 

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [7]:
data = pd.read_csv('insurance_new.csv')

In [21]:
type(data)

pandas.core.frame.DataFrame

In [19]:
data[(data.sex == 'male') & (data.children == 1) & ()]

      age   sex     bmi  children smoker     region      charges
1      18  male  33.770         1     no  southeast   1725.55230
15     19  male  24.600         1     no  southwest   1837.23700
28     23  male  17.385         1     no  northwest   2775.19215
34     28  male  36.400         1    yes  southwest  51194.55914
38     35  male  36.670         1    yes  northeast  39774.27630
42     41  male  21.780         1     no  southeast   6272.47720
44     38  male  37.050         1     no  northeast   6079.67150
49     36  male  35.200         1    yes  southeast  38709.17600
52     48  male  28.000         1    yes  southwest  23568.27200
62     64  male  24.700         1     no  northwest  30166.61817
67     40  male  26.315         1     no  northwest   6389.37785
73     58  male  32.010         1     no  southeast  11946.62590
80     31  male  26.885         1     no  northeast   4441.21315
82     22  male  37.620         1    yes  southeast  37165.16380
105    20  male  28.025         1    yes  northwest  17560.37975
110    54  male  33.630         1     no  northwest  10825.25370
123    44  male  31.350         1    yes  northeast  39556.49450
141    26  male  32.490         1     no  northeast   3490.54910
149    19  male  28.400         1     no  southwest   1842.51900
150    35  male  24.130         1     no  northwest   5125.21570
162    54  male  39.600         1     no  southwest  10450.55200
177    54  male  29.200         1     no  southwest  10436.09600
209    40  male  41.230         1     no  northeast   6610.10970
210    20  male  33.000         1     no  southwest   1980.07000
233    59  male  27.500         1     no  southwest  12333.82800
239    44  male  38.060         1     no  southeast   7152.67140
248    19  male  20.900         1     no  southwest   1832.09400
249    29  male  28.975         1     no  northeast   4040.55825
266    40  male  19.800         1    yes  southeast  17179.52200
268    45  male  30.200         1     no  southwest   7441.05300
...   ...   ...     ...       ...    ...        ...          ...
1088   52  male  47.740         1     no  southeast   9748.91060
1102   29  male  38.940         1     no  southeast   3471.40960
1108   26  male  30.000         1     no  southwest   2904.08800
1115   55  male  32.670         1     no  southeast  10807.48630
1118   33  male  35.750         1    yes  southeast  38282.74950
1128   34  male  32.800         1     no  southwest  14358.36437
1140   50  male  37.070         1     no  southeast   9048.02730
1148   55  male  21.500         1     no  southwest  10791.96000
1162   30  male  38.830         1     no  southeast  18963.17192
1170   18  male  27.360         1    yes  northeast  17178.68240
1198   40  male  29.355         1     no  northwest   6393.60345
1203   51  male  32.300         1     no  northeast   9964.06000
1205   35  male  17.860         1     no  northwest   5116.50040
1209   59  male  37.100         1     no  southwest  12347.17200
1210   36  male  30.875         1     no  northwest   5373.36425
1224   41  male  23.940         1     no  northeast   6858.47960
1249   32  male  33.630         1    yes  northeast  37607.52770
1261   28  male  37.100         1     no  southwest   3277.16100
1270   26  male  33.915         1     no  northwest   3292.52985
1273   35  male  27.610         1     no  southeast   4747.05290
1278   39  male  29.925         1    yes  northeast  22462.04375
1283   18  male  30.030         1     no  southeast   1720.35370
1284   61  male  36.300         1    yes  southwest  47403.88000
1289   44  male  34.320         1     no  southeast   7147.47280
1295   20  male  22.000         1     no  southwest   1964.78000
1310   42  male  26.315         1     no  northwest   6940.90985
1312   34  male  42.900         1     no  southwest   4536.25900
1315   18  male  28.310         1     no  northeast  11272.33139
1324   31  male  25.935         1     no  northwest   4239.89265
1327   51  male  30.030         1     no  southeast   9377.90470

[166 rows x 7 columns]

## Encoding
### Label Encoder
Secara umum, semua data yang bersifat **categorical** harus diubah menjadi bentuk angka, dalam hal ini disebut dengan **encoding**. Caranya adalah sebagai berikut:

In [ ]:
data.sex = LabelEncoder().fit_transform(data.sex)

data.smoker = LabelEncoder().fit_transform(data.smoker)

In [ ]:
data.head()

### One Hot Encoder
One Hot Encoder bekerja dengan cara mengabil nilai pada satu kolom yang memiliki data categorical dan memisahkannya menjadi kolom terpisah. Setiap kolom akan diberikan nilai 0 apabila tidak ada dan 1 apabila ada.

In [ ]:
region = data.iloc[:,5:6].values #ndarray

## ohe for region
ohe = OneHotEncoder() 

region = ohe.fit_transform(region).toarray()
region = pd.DataFrame(region)
region.columns = ['northeast', 'northwest', 'southeast', 'southwest']

In [ ]:
# kita hapus kolom region
del data['region']

# kita gabungkan region ke dalam tabel data
data = pd.concat([data, region], axis=1)

# reorder kolom pada data
columns = ['age', 'sex', 'bmi', 'children', 'northeast',
       'northwest', 'southeast', 'southwest', 'smoker', 'charges']

data = data[columns]

In [ ]:
data.head()

In [ ]:
#putting the data together:

##take the numerical data from the original data
X_num = data[['age', 'bmi', 'children']].copy()

# Ambil data X saja
X_final = data.drop(['charges'], 1)

#define y as being the "charges column" from the original dataset
y_final = data.charges

#Test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

## Pembuatan Model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

### Linear Regression

In [ ]:
lr = LinearRegression().fit(X_train,y_train)
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

#print score
print("lr.coef_: {}".format(lr.coef_))
print("lr.intercept_: {}".format(lr.intercept_))
print('lr train score %.3f, lr test score: %.3f' % (
lr.score(X_train,y_train),
lr.score(X_test, y_test)))

### Polynomial Regression

In [ ]:
poly = PolynomialFeatures (degree = 3)
X_poly = poly.fit_transform(X_final)

X_train,X_test,y_train,y_test = train_test_split(X_poly,y_final, test_size = 0.33, random_state = 0)

#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))

#fit model
poly_lr = LinearRegression().fit(X_train,y_train)

y_train_pred = poly_lr.predict(X_train)
y_test_pred = poly_lr.predict(X_test)

#print score
print('poly train score %.3f, poly test score: %.3f' % (
poly_lr.score(X_train,y_train),
poly_lr.score(X_test, y_test)))

### Support Vector Regression

In [ ]:
svr = SVR(kernel='linear', C = 300)

#test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))

#fit model
svr = svr.fit(X_train,y_train.values.ravel())
y_train_pred = svr.predict(X_train)
y_test_pred = svr.predict(X_test)

#print score
print('svr train score %.3f, svr test score: %.3f' % (
svr.score(X_train,y_train),
svr.score(X_test, y_test)))

## Decision Tree Regressor

In [ ]:
dt = DecisionTreeRegressor(random_state=0)

#test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))


#fit model
dt = dt.fit(X_train,y_train.values.ravel())
y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)

#print score
print('dt train score %.3f, dt test score: %.3f' % (
dt.score(X_train,y_train),
dt.score(X_test, y_test)))

## Random Forest Regressor

In [ ]:
forest = RandomForestRegressor(n_estimators = 100,
                              criterion = 'mse',
                              random_state = 1,
                              n_jobs = -1)
#test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))

#fit model
forest.fit(X_train,y_train.values.ravel())
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

#print score
print('forest train score %.3f, forest test score: %.3f' % (
forest.score(X_train,y_train),
forest.score(X_test, y_test)))

## Grid Search CV

In [ ]:
from sklearn.model_selection import GridSearchCV

#Function to print best hyperparamaters: 
def print_best_params(gd_model):
    param_dict = gd_model.best_estimator_.get_params()
    model_str = str(gd_model.estimator).split('(')[0]
    print("\n*** {} Best Parameters ***".format(model_str))
    for k in param_dict:
        print("{}: {}".format(k, param_dict[k]))
    print()

#test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

### GridSearch for SVR

In [ ]:
#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))

###Challenge 1: SVR parameter grid###
param_grid_svr = dict(kernel=[ 'linear', 'poly'],
                     degree=[2],
                     C=[600, 700, 800, 900],
                     epsilon=[0.0001, 0.00001, 0.000001])
svr = GridSearchCV(SVR(), param_grid=param_grid_svr, cv=5, verbose=3)


#fit model
svr = svr.fit(X_train,y_train.values.ravel())

#print score
print('\n\nsvr train score %.3f, svr test score: %.3f' % (
svr.score(X_train,y_train),
svr.score(X_test, y_test)))
#print(svr.best_estimator_.get_params())

print_best_params(svr)

### GridSearch for DT

In [ ]:
###Challenge 2:Decision Tree parameter grid###
param_grid_dt = dict(min_samples_leaf=np.arange(9, 13, 1, int), 
                  max_depth = np.arange(4,7,1, int),
                  min_impurity_decrease = [0, 1, 2],
                 )

dt = GridSearchCV(DecisionTreeRegressor(random_state=0), param_grid=param_grid_dt, cv=5,  verbose=3)



#fit model
dt = dt.fit(X_train,y_train.values.ravel())


#print score
print('\n\ndt train score %.3f, dt test score: %.3f' % (
dt.score(X_train,y_train),
dt.score(X_test, y_test)))
print_best_params(dt)

### GridSearch for RF

In [ ]:
###Challenge 3:Random Forest parameter grid###
param_grid_rf = dict(n_estimators=[20],
                     max_depth=np.arange(1, 13, 2),
                     min_samples_split=[2],
                     min_samples_leaf= np.arange(1, 15, 2, int),
                     bootstrap=[True, False],
                     oob_score=[False, ])


forest = GridSearchCV(RandomForestRegressor(random_state=0), param_grid=param_grid_rf, cv=5, verbose=3)

#fit model
forest.fit(X_train,y_train.values.ravel())


#print score
print('\n\nforest train score %.3f, forest test score: %.3f' % (
forest.score(X_train,y_train),
forest.score(X_test, y_test)))

print_best_params(forest)